 /* Estilos generales */
 body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    /* justify-content: space-between; */
}

/* Estilos del encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

.navegar {
    max-width: 1200px;
    margin-left: 10px;
}

.titulo-inicio {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    color: #fff;
    text-decoration: none;
}

.search {
    width: 50%;
}

.input {
    color: white;
    width: 90%;
    height: 40px;
    border-radius: 30px 0 0 30px;
    border-style: none;
    background-color: #666;
}

.iconos {
    padding-right: 10px;
    display: flex;
}
.bi-cart {
    margin: 10px;
}

.contador {
    position: absolute;
    top: 7%;
    right: 9%;

    background-color: #000;
    width: 20px;
    height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    font-size: 10px;
}

.buscar {
    background-color: #000;
    padding: 12.5px;
    position: absolute;
    /* border-color: black; */
    border-radius: 0 30px 30px 0;
    border-style: none;
    cursor: pointer;
}
.bi-search {
    color: #fff;
}

.bi-cart {
    font-size: 25px;
}

.bi-person {
    font-size: 25px;
}

/*diseño producto carrito*/
.contenedor-carrito{
    position: absolute;
    top: 95px;
    right: 15px;

    width: 400px;
    z-index: 1;
    border-radius: 20px;
    backdrop-filter: blur(0.8rem);/*efecto blur (desenfoque)*/
    -webkit-backdrop-filter: blur(0.8rem);
}

.scroll {
    background-color: #333;
    border-style: none;
}
.contador {
    /* display: flex; */
    position: fixed;
    right: 76px;
    top: 46px   ;
}

.carrito-producto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

.info-producto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    margin: 5px;
}

.cantidad-producto,
.producto-carrito,
.precio {
    margin-right: 40px; /* Ajusta este valor según tu preferencia */
}

.precio {
    font-weight: 500; 
    font-size: 20px;
}

.boton-x {
    border: none;
    background: none;
    font-size: 40px;
}
.boton-x:hover {
    /* stroke: rgb(204, 142, 142); */
    cursor: pointer;
}

.precio-total {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;/*mantendrán un espacio entre ellos*/
}

.precio-total h3 {
    font-size: 20px;
    font-weight: 300;
    margin: 0;
}

.total-pagar {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.carrito-vacio {
    display: none;
    padding: 20px;
    text-align: center;
}

.ocultar-carrito {
    display: none;
}

/*diseño registro usuario*/
#formularioRegistro {
    display: none;
}

.registro {
    position: absolute;
    top: 95px;
    right: 15px;

    width: 400px;
    height: 310px;
    z-index: 1;
    border-radius: 20px;
    backdrop-filter: blur(0.8rem);/*efecto blur (desenfoque)*/
    -webkit-backdrop-filter: blur(0.8rem);
}

.registro h2 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.registro label {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

.registro input {
    width: 90%;
    height: 25px;
    padding: 2px;
    border-radius: 30px;
    border-style: none;
    margin-top: 10px;
    margin-left: 10px;
}

.registro input[type="submit"] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    transition: background-color 0.3s;
    text-align: center;
    height: 30px;
}

.registro input[type="submit"]:hover {
    background-color: #555;
}

/*fondos de los productos*/
.fnd {
    background-image: url(https://www.xtrafondos.com/wallpapers/patrones-con-ilustraciones-neon-3475.jpg);
    background-position: center center;/*posicion de la imagen*/
    background-repeat: no-repeat;
    background-attachment: fixed;/*el fondo se queda estatico y no se mueve*/
    background-size: cover;/*la imagen ocupa todo el alto y el acho del contenedor*/
}

.servicios-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.servicio {
    width: 13.6%; /* El 20px es para el gap entre elementos */
    height: 300px; /* Ajusta la altura según tus necesidades */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    overflow: hidden; /* Oculta cualquier contenido que se extienda más allá del tamaño del contenedor */
    transition: transform 0.3s ease; /* Agrega transición al hover */
    margin: 20px;
    backdrop-filter: blur(0.8rem);/*efecto blur (desenfoque)*/
    -webkit-backdrop-filter: blur(0.8rem);
}

.servicio:hover {
    transform: translateY(-5px); /* Efecto de levantamiento al pasar el mouse */
}

.servicio img {
    width: 100%;
    height: 150px; /* Cambia esta altura según tus necesidades */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.servicio-content {
    padding: 8px;
}

.servicio h3 {
    color: #fff ;
    margin-top: 5px;
    font-size: 20px; /* Tamaño del título */
}

.servicio p {
    color: #cac9c9;
    margin: 0 50px;
    font-size: 20px;
}

.btn-add-cart {
    display: block;
    font-size: 20px;
    width: 90%;
    padding: 8px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-add-cart:hover {
    background-color: #555;
}


/* Estilos del pie de página */
footer {
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}